@use '/src/styles/utilities/variables';

.io-select {
  &__wrapper {
    position: relative;
    width: max-content;

    &_focused .io-select__items {
      max-height: 400%;
      box-shadow: variables.$elevation-1;
    }
  }
  &__items {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    border-radius: 0.25em;
    background: var(--io-color-surface-2);
    color: rgb(var(--io-color-on-surface));
    max-height: 0;
    overflow-y: auto;
    transition: max-height .13s;
  }
  &__item {
    padding: 0.6rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(var(--io-color-primary), .12);
    }
  }
}