.z-text-field {
  width: 100%;
}
.z-text-field__wrapper {
  position: relative;
  width: max-content;

  &_filled {
    & .z-text-field {
      padding: 0.6em 0.6rem;
      background: var(--z-color-surface-variant);
      color: var(--z-color-on-surface-variant);
      border-radius: 0.25em 0.25em 0 0;
      border-bottom: solid 1px var(--z-color-on-surface);

      &:focus-visible {
        outline: none;
      }
    }
    & .z-text-field__label {
      position: absolute;
      top: 0.6em;
      left: 0.6rem;
      font-size: 0.7em;
      color: var(--z-color-primary);
    
      & + .z-text-field {
        padding-top: 1.6em;
      }
    }

    &.z-text-field__wrapper_error .z-text-field__label {
      color: var(--z-color-error);
    }
  }
  &_error::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--z-color-error);
  }
  &_focused::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--z-color-primary);
    animation-name: max-width;
    animation-duration: .13s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  &_focused.z-text-field__wrapper_error::after {
    background-color: var(--z-color-error);
  }
  @keyframes max-width {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}