@use '/src/styles/utilities/variables';

.io-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.625em 1.5em;
  border-radius: 0.8em;

  // WRAPPER
  &__wrapper {
    display: inline-block;

    &.io-button__wrapper_disabled {
      cursor: not-allowed;
    }
  
    & .io-button.io-button_disabled {
      background-color: rgba(var(--io-color-disabled), .12);
      color: rgba(var(--io-color-on-disabled), .38);
      pointer-events: none;
      user-select: none;

      &.io-button_text {
        background-color: none;
      }

      &.io-button_outlined {
        border: 1px solid rgba(var(--io-color-on-surface), .12);
        background-color: none;
      }
    }

    & .io-button_loading.io-button_disabled {
      color: transparent;
    }
  }
  // WRAPPER END

  // ELEVATIONS
  &_elevation_1 { box-shadow: variables.$elevation-1; }
  &_elevation_2 { box-shadow: variables.$elevation-2; }
  &_elevation_3 { box-shadow: variables.$elevation-3; }
  &_elevation_4 { box-shadow: variables.$elevation-4; }
  &_elevation_5 { box-shadow: variables.$elevation-5; }
  // ELEVATIONS END


  // SIZES
  &.io-button_size_medium {
    font-size: 16px;

    & .io-button__loader {
      height: 20px;
      width: 20px;
    }
  }
  &.io-button_size_small {
    font-size: 12px;

    & .io-button__loader {
      height: 16px;
      width: 16px;
    }
  }
  &.io-button_size_large {
    font-size: 20px;
    
    & .io-button__loader {
      height: 24px;
      width: 24px;
    }
  }
  // SIZES END

  // MODIFICATIONS
  &.io-button_round { border-radius: 3em; }
  // MODIFICATIONS END

  &.io-button_elevated {
    background: var(--io-color-surface-1);

    &:hover { box-shadow: variables.$elevation-2; }
    &:active { box-shadow: variables.$elevation-1; }
  }

  &.io-button_outlined {
    border: 1px solid rgb(var(--io-color-outline));
    background-color: rgb(var(--io-color-background));
  }

  &.io-button_text {
    background-color: none;
  }

  &.io-button_outlined,
  &.io-button_text {
    &:hover { box-shadow: none; }
    &:active { box-shadow: none; }
  }

  &_color_primary {
    background-color: rgb(var(--io-color-primary));
    color: rgb(var(--io-color-on-primary));

    &:hover {
      background-color: rgba(var(--io-color-primary), .92);
      box-shadow: variables.$elevation-1;
    }
    &:active {
      background-color: rgba(var(--io-color-primary), .88);
      box-shadow: none;
    }

    &.io-button_elevated,
    &.io-button_outlined,
    &.io-button_text {
      color: rgb(var(--io-color-primary));

      &:hover {
        background-color: rgba(var(--io-color-primary), .08);
      }
      &:active {
        background-color: rgba(var(--io-color-primary), .12);
      }
    }
  }

  &_color_secondary {
    background-color: rgb(var(--io-color-secondary));
    color: rgb(var(--io-color-on-secondary));

    &:hover {
      background-color: rgba(var(--io-color-secondary), .92);
      box-shadow: variables.$elevation-1;
    }
    &:active {
      background-color: rgba(var(--io-color-secondary), .88);
      box-shadow: none;
    }

    &.io-button_elevated,
    &.io-button_outlined,
    &.io-button_text {
      color: rgb(var(--io-color-secondary));

      &:hover {
        background-color: rgba(var(--io-color-secondary), .08);
      }
      &:active {
        background-color: rgba(var(--io-color-secondary), .12);
      }
    }
  }

  &_color_tertiary {
    background-color: rgb(var(--io-color-tertiary));
    color: rgb(var(--io-color-on-tertiary));

    &:hover {
      background-color: rgba(var(--io-color-tertiary), .92);
      box-shadow: variables.$elevation-1;
    }
    &:active {
      background-color: rgba(var(--io-color-tertiary), .88);
      box-shadow: none;
    }

    &.io-button_elevated,
    &.io-button_outlined,
    &.io-button_text {
      color: rgb(var(--io-color-tertiary));

      &:hover {
        background-color: rgba(var(--io-color-tertiary), .08);
      }
      &:active {
        background-color: rgba(var(--io-color-tertiary), .12);
      }
    }
  }
  
  &_color_error {
    background-color: rgb(var(--io-color-error));
    color: rgb(var(--io-color-on-error));

    &:hover {
      background-color: rgba(var(--io-color-error), .92);
      box-shadow: variables.$elevation-1;
    }
    &:active {
      background-color: rgba(var(--io-color-error), .88);
      box-shadow: none;
    }

    &.io-button_elevated,
    &.io-button_outlined,
    &.io-button_text {
      color: rgb(var(--io-color-error));

      &:hover {
        background-color: rgba(var(--io-color-error), .08);
      }
      &:active {
        background-color: rgba(var(--io-color-error), .12);
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & svg {
      height: 100%;
      width: 100%;
      animation: rotate 2s linear infinite;

      & circle {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke-width: 4px;
        stroke: rgb(var(--io-color-on-disabled), .38);
      }
    }

    @keyframes rotate {
      100% { transform: rotate(360deg); }
    }
  
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
  }
}