@use '/src/styles/utilities/variables';
@mixin button-colors($color) {
  background-color: rgb(var(--io-color-#{$color}));
  color: rgb(var(--io-color-on-#{$color}));

  &:hover {
    background-color: rgba(var(--io-color-#{$color}), .92);
    box-shadow: variables.$elevation-1;
  }
  &:active {
    background-color: rgba(var(--io-color-#{$color}), .88);
    box-shadow: none;
  }

  &.io-button_elevated {
    background-color: rgba(var(--io-color-#{$color}), .08);
    color: rgb(var(--io-color-#{$color}));

    &:hover {
      background-color: rgba(var(--io-color-#{$color}), .12);
    }
    &:active {
      background-color: rgba(var(--io-color-#{$color}), .16);
    }
  }

  &.io-button_outlined,
  &.io-button_text {
    color: rgb(var(--io-color-#{$color}));

    &:hover {
      background-color: rgba(var(--io-color-#{$color}), .08);
    }
    &:active {
      background-color: rgba(var(--io-color-#{$color}), .12);
    }
  }
  &.io-button_outlined {
    outline: 1px solid rgba(var(--io-color-#{$color}), .84);

    &:active {
      outline: 1px solid rgb(var(--io-color-#{$color}));
    }
  }
}

.io-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  border-radius: 0.8em;

  // WRAPPER
  &__wrapper {
    display: inline-block;

    &.io-button__wrapper_disabled {
      cursor: not-allowed;
    }
  
    & .io-button.io-button_disabled {
      color: rgba(var(--io-color-on-disabled), .38);
      background-color: rgba(var(--io-color-disabled), .12);
      pointer-events: none;
      user-select: none;
      &.io-button_text {
        background-color: transparent;
      }
      &.io-button_outlined {
        background-color: transparent;
        outline: 1px solid rgba(var(--io-color-on-surface), .12);
      }
      &.io-button_loading {
        color: transparent;
      }
    }
  }
  // WRAPPER END

  // ELEVATIONS
  &_elevation_1 { box-shadow: variables.$elevation-1; }
  &_elevation_2 { box-shadow: variables.$elevation-2; }
  &_elevation_3 { box-shadow: variables.$elevation-3; }
  &_elevation_4 { box-shadow: variables.$elevation-4; }
  &_elevation_5 { box-shadow: variables.$elevation-5; }
  // ELEVATIONS END


  // SIZES
  &.io-button_size_small {
    height: 32px;
    font-size: 12px;
  }
  &.io-button_size_medium {
    height: 40px;
    font-size: 16px;
  }
  &.io-button_size_large {
    height: 48px;
    font-size: 20px;
  }
  // SIZES END

  // MODIFICATIONS
  &.io-button_round { 
    border-radius: 100px;
  }
  // MODIFICATIONS END

  // TYPES COMMON
  &.io-button_elevated {
    background-color: var(--io-gradient-surface-1);
    &:hover { box-shadow: variables.$elevation-2; }
    &:active { box-shadow: variables.$elevation-1; }
  }

  &.io-button_outlined {
    background-color: rgb(var(--io-color-background));
  }

  &.io-button_text {
    background-color: transparent;
  }

  &.io-button_outlined,
  &.io-button_text {
    &:hover { box-shadow: none; }
    &:active { box-shadow: none; }
  }
  // TYPES COMMON END

  // COLORS
  &_color_primary {
    @include button-colors("primary");
  }

  &_color_secondary {
    @include button-colors("secondary");
  }

  &_color_tertiary {
    @include button-colors("tertiary");
  }
  
  &_color_error {
    @include button-colors("error");
  }
  // COLORS END

  // LOADER
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(1em + 4px);
    width: calc(1em + 4px);

    & svg {
      height: 100%;
      width: 100%;
      animation: rotate 2s linear infinite;

      & circle {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke-width: 4px;
        stroke: rgb(var(--io-color-on-disabled), .38);
      }
    }

    @keyframes rotate {
      100% { transform: rotate(360deg); }
    }
  
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
  }
  // LOADER END
}