// SOURCE
$seed: rgba(66,133,244,1);
$primary: $primary-40;
$secondary: $secondary-40;
$tertiary: $tertiary-40;
$neutral: $neutral-40;
$neutral-variant: $neutral-variant-40;
$error: $error-40;
// SOURCE END

// REF
$primary-100: rgba(255,255,255,1);
$primary-99: rgba(253,251,255,1);
$primary-95: rgba(236,240,255,1);
$primary-90: rgba(214,226,255,1);
$primary-80: rgba(172,199,255,1);
$primary-70: rgba(126,171,255,1);
$primary-60: rgba(77,142,254,1);
$primary-50: rgba(43,116,226,1);
$primary-40: rgba(0,90,197,1);
$primary-30: rgba(0,67,151,1);
$primary-20: rgba(0,46,108,1);
$primary-10: rgba(0,26,67,1);
$primary-0: rgba(0,0,0,1);
$secondary-100: rgba(255,255,255,1);
$secondary-99: rgba(253,251,255,1);
$secondary-95: rgba(236,240,255,1);
$secondary-90: rgba(218,226,249,1);
$secondary-80: rgba(191,198,220,1);
$secondary-70: rgba(164,171,192,1);
$secondary-60: rgba(137,145,165,1);
$secondary-50: rgba(111,119,139,1);
$secondary-40: rgba(87,94,113,1);
$secondary-30: rgba(63,71,89,1);
$secondary-20: rgba(40,48,65,1);
$secondary-10: rgba(20,27,44,1);
$secondary-0: rgba(0,0,0,1);
$tertiary-100: rgba(255,255,255,1);
$tertiary-99: rgba(252,252,252,1);
$tertiary-95: rgba(255,234,254,1);
$tertiary-90: rgba(251,215,251,1);
$tertiary-80: rgba(222,187,223,1);
$tertiary-70: rgba(194,161,195,1);
$tertiary-60: rgba(166,135,168,1);
$tertiary-50: rgba(139,110,141,1);
$tertiary-40: rgba(113,85,116,1);
$tertiary-30: rgba(88,62,91,1);
$tertiary-20: rgba(64,40,67,1);
$tertiary-10: rgba(41,19,45,1);
$tertiary-0: rgba(0,0,0,1);
$neutral-100: rgba(255,255,255,1);
$neutral-99: rgba(253,251,255,1);
$neutral-95: rgba(242,240,244,1);
$neutral-90: rgba(228,226,230,1);
$neutral-80: rgba(199,198,202,1);
$neutral-70: rgba(172,171,175,1);
$neutral-60: rgba(145,144,148,1);
$neutral-50: rgba(119,119,123,1);
$neutral-40: rgba(94,94,97,1);
$neutral-30: rgba(70,70,73,1);
$neutral-20: rgba(47,48,51,1);
$neutral-10: rgba(27,27,30,1);
$neutral-0: rgba(0,0,0,1);
$neutral-variant-100: rgba(255,255,255,1);
$neutral-variant-99: rgba(253,251,255,1);
$neutral-variant-95: rgba(239,240,250,1);
$neutral-variant-90: rgba(225,226,236,1);
$neutral-variant-80: rgba(196,198,208,1);
$neutral-variant-70: rgba(169,171,181,1);
$neutral-variant-60: rgba(142,144,153,1);
$neutral-variant-50: rgba(116,119,127,1);
$neutral-variant-40: rgba(92,94,102,1);
$neutral-variant-30: rgba(68,71,79,1);
$neutral-variant-20: rgba(45,48,56,1);
$neutral-variant-10: rgba(25,27,34,1);
$neutral-variant-0: rgba(0,0,0,1);
$error-100: rgba(255,255,255,1);
$error-99: rgba(252,252,252,1);
$error-95: rgba(255,237,233,1);
$error-90: rgba(255,218,212,1);
$error-80: rgba(255,180,169,1);
$error-70: rgba(255,137,122,1);
$error-60: rgba(255,84,73,1);
$error-50: rgba(221,55,48,1);
$error-40: rgba(186,27,27,1);
$error-30: rgba(147,0,6,1);
$error-20: rgba(104,0,3,1);
$error-10: rgba(65,0,1,1);
$error-0: rgba(0,0,0,1);
// REF END

// SYS
$light-primary: rgba(0,90,197,1);
$light-on-primary: rgba(255,255,255,1);
$light-primary-container: rgba(214,226,255,1);
$light-on-primary-container: rgba(0,26,67,1);
$light-secondary: rgba(87,94,113,1);
$light-on-secondary: rgba(255,255,255,1);
$light-secondary-container: rgba(218,226,249,1);
$light-on-secondary-container: rgba(20,27,44,1);
$light-tertiary: rgba(113,85,116,1);
$light-on-tertiary: rgba(255,255,255,1);
$light-tertiary-container: rgba(251,215,251,1);
$light-on-tertiary-container: rgba(41,19,45,1);
$light-error: rgba(186,27,27,1);
$light-error-container: rgba(255,218,212,1);
$light-on-error: rgba(255,255,255,1);
$light-on-error-container: rgba(65,0,1,1);
$light-background: rgba(253,251,255,1);
$light-on-background: rgba(27,27,30,1);
$light-surface: rgba(253,251,255,1);
$light-on-surface: rgba(27,27,30,1);
$light-surface-variant: rgba(225,226,236,1);
$light-on-surface-variant: rgba(68,71,79,1);
$light-outline: rgba(116,119,127,1);
$light-inverse-on-surface: rgba(242,240,244,1);
$light-inverse-surface: rgba(47,48,51,1);
$light-inverse-primary: rgba(172,199,255,1);
$light-shadow: rgba(0,0,0,1);

$dark-primary: rgba(172,199,255,1);
$dark-on-primary: rgba(0,46,108,1);
$dark-primary-container: rgba(0,67,151,1);
$dark-on-primary-container: rgba(214,226,255,1);
$dark-secondary: rgba(191,198,220,1);
$dark-on-secondary: rgba(40,48,65,1);
$dark-secondary-container: rgba(63,71,89,1);
$dark-on-secondary-container: rgba(218,226,249,1);
$dark-tertiary: rgba(222,187,223,1);
$dark-on-tertiary: rgba(64,40,67,1);
$dark-tertiary-container: rgba(88,62,91,1);
$dark-on-tertiary-container: rgba(251,215,251,1);
$dark-error: rgba(255,180,169,1);
$dark-error-container: rgba(147,0,6,1);
$dark-on-error: rgba(104,0,3,1);
$dark-on-error-container: rgba(255,218,212,1);
$dark-background: rgba(27,27,30,1);
$dark-on-background: rgba(228,226,230,1);
$dark-surface: rgba(27,27,30,1);
$dark-on-surface: rgba(228,226,230,1);
$dark-surface-variant: rgba(68,71,79,1);
$dark-on-surface-variant: rgba(196,198,208,1);
$dark-outline: rgba(142,144,153,1);
$dark-inverse-on-surface: rgba(27,27,30,1);
$dark-inverse-surface: rgba(228,226,230,1);
$dark-inverse-primary: rgba(0,90,197,1);
$dark-shadow: rgba(0,0,0,1);
// SYS END

// READ ONLY
$light-surface-1: rgba(253,251,255,1);
$light-surface-2: rgba(253,251,255,1);
$light-surface-3: rgba(253,251,255,1);
$light-surface-4: rgba(253,251,255,1);
$light-surface-5: rgba(253,251,255,1);
$light-black: rgba(0,0,0,1);
$light-white: rgba(255,255,255,1);
$light-primary-opacity-0-08: rgba(0,90,197,0.080);
$light-primary-opacity-0-12: rgba(0,90,197,0.120);
$light-primary-opacity-0-16: rgba(0,90,197,0.160);
$light-on-primary-opacity-0-08: rgba(255,255,255,0.080);
$light-on-primary-opacity-0-12: rgba(255,255,255,0.120);
$light-on-primary-opacity-0-16: rgba(255,255,255,0.160);
$light-on-primary-container-opacity-0-08: rgba(0,26,67,0.080);
$light-on-primary-container-opacity-0-12: rgba(0,26,67,0.120);
$light-on-primary-container-opacity-0-16: rgba(0,26,67,0.160);
$light-secondary-opacity-0-08: rgba(87,94,113,0.080);
$light-secondary-opacity-0-12: rgba(87,94,113,0.120);
$light-secondary-opacity-0-16: rgba(87,94,113,0.160);
$light-on-secondary-opacity-0-08: rgba(255,255,255,0.080);
$light-on-secondary-opacity-0-12: rgba(255,255,255,0.120);
$light-on-secondary-opacity-0-16: rgba(255,255,255,0.160);
$light-on-secondary-container-opacity-0-08: rgba(20,27,44,0.080);
$light-on-secondary-container-opacity-0-12: rgba(20,27,44,0.120);
$light-on-secondary-container-opacity-0-16: rgba(20,27,44,0.160);
$light-tertiary-opacity-0-08: rgba(113,85,116,0.080);
$light-tertiary-opacity-0-12: rgba(113,85,116,0.120);
$light-tertiary-opacity-0-16: rgba(113,85,116,0.160);
$light-on-tertiary-opacity-0-08: rgba(255,255,255,0.080);
$light-on-tertiary-opacity-0-12: rgba(255,255,255,0.120);
$light-on-tertiary-opacity-0-16: rgba(255,255,255,0.160);
$light-on-tertiary-container-opacity-0-08: rgba(41,19,45,0.080);
$light-on-tertiary-container-opacity-0-12: rgba(41,19,45,0.120);
$light-on-tertiary-container-opacity-0-16: rgba(41,19,45,0.160);
$light-primary-container-opacity-0-08: rgba(214,226,255,0.080);
$light-primary-container-opacity-0-12: rgba(214,226,255,0.120);
$light-primary-container-opacity-0-16: rgba(214,226,255,0.160);
$light-secondary-container-opacity-0-08: rgba(218,226,249,0.080);
$light-secondary-container-opacity-0-12: rgba(218,226,249,0.120);
$light-secondary-container-opacity-0-16: rgba(218,226,249,0.160);
$light-tertiary-container-opacity-0-08: rgba(251,215,251,0.080);
$light-tertiary-container-opacity-0-12: rgba(251,215,251,0.120);
$light-tertiary-container-opacity-0-16: rgba(251,215,251,0.160);
$light-error-opacity-0-08: rgba(186,27,27,0.080);
$light-error-opacity-0-12: rgba(186,27,27,0.120);
$light-error-opacity-0-16: rgba(186,27,27,0.160);
$light-error-container-opacity-0-08: rgba(255,218,212,0.080);
$light-error-container-opacity-0-12: rgba(255,218,212,0.120);
$light-error-container-opacity-0-16: rgba(255,218,212,0.160);
$light-on-error-opacity-0-08: rgba(255,255,255,0.080);
$light-on-error-opacity-0-12: rgba(255,255,255,0.120);
$light-on-error-opacity-0-16: rgba(255,255,255,0.160);
$light-on-error-container-opacity-0-08: rgba(65,0,1,0.080);
$light-on-error-container-opacity-0-12: rgba(65,0,1,0.120);
$light-on-error-container-opacity-0-16: rgba(65,0,1,0.160);
$light-background-opacity-0-08: rgba(253,251,255,0.080);
$light-background-opacity-0-12: rgba(253,251,255,0.120);
$light-background-opacity-0-16: rgba(253,251,255,0.160);
$light-on-background-opacity-0-08: rgba(27,27,30,0.080);
$light-on-background-opacity-0-12: rgba(27,27,30,0.120);
$light-on-background-opacity-0-16: rgba(27,27,30,0.160);
$light-surface-opacity-0-08: rgba(253,251,255,0.080);
$light-surface-opacity-0-12: rgba(253,251,255,0.120);
$light-surface-opacity-0-16: rgba(253,251,255,0.160);
$light-on-surface-opacity-0-08: rgba(27,27,30,0.080);
$light-on-surface-opacity-0-12: rgba(27,27,30,0.120);
$light-on-surface-opacity-0-16: rgba(27,27,30,0.160);
$light-surface-variant-opacity-0-08: rgba(225,226,236,0.080);
$light-surface-variant-opacity-0-12: rgba(225,226,236,0.120);
$light-surface-variant-opacity-0-16: rgba(225,226,236,0.160);
$light-on-surface-variant-opacity-0-08: rgba(68,71,79,0.080);
$light-on-surface-variant-opacity-0-12: rgba(68,71,79,0.120);
$light-on-surface-variant-opacity-0-16: rgba(68,71,79,0.160);
$light-outline-opacity-0-08: rgba(116,119,127,0.080);
$light-outline-opacity-0-12: rgba(116,119,127,0.120);
$light-outline-opacity-0-16: rgba(116,119,127,0.160);
$light-inverse-on-surface-opacity-0-08: rgba(242,240,244,0.080);
$light-inverse-on-surface-opacity-0-12: rgba(242,240,244,0.120);
$light-inverse-on-surface-opacity-0-16: rgba(242,240,244,0.160);
$light-inverse-surface-opacity-0-08: rgba(47,48,51,0.080);
$light-inverse-surface-opacity-0-12: rgba(47,48,51,0.120);
$light-inverse-surface-opacity-0-16: rgba(47,48,51,0.160);
$light-inverse-primary-opacity-0-08: rgba(172,199,255,0.080);
$light-inverse-primary-opacity-0-12: rgba(172,199,255,0.120);
$light-inverse-primary-opacity-0-16: rgba(172,199,255,0.160);
$light-shadow-opacity-0-08: rgba(0,0,0,0.080);
$light-shadow-opacity-0-12: rgba(0,0,0,0.120);
$light-shadow-opacity-0-16: rgba(0,0,0,0.160);
$dark-surface-1: rgba(27,27,30,1);
$dark-surface-2: rgba(27,27,30,1);
$dark-surface-3: rgba(27,27,30,1);
$dark-surface-4: rgba(27,27,30,1);
$dark-surface-5: rgba(27,27,30,1);
$dark-white: rgba(255,255,255,1);
$dark-black: rgba(0,0,0,1);
$dark-primary-opacity-0-08: rgba(172,199,255,0.080);
$dark-primary-opacity-0-12: rgba(172,199,255,0.120);
$dark-primary-opacity-0-16: rgba(172,199,255,0.160);
$dark-on-primary-opacity-0-08: rgba(0,46,108,0.080);
$dark-on-primary-opacity-0-12: rgba(0,46,108,0.120);
$dark-on-primary-opacity-0-16: rgba(0,46,108,0.160);
$dark-on-primary-container-opacity-0-08: rgba(214,226,255,0.080);
$dark-on-primary-container-opacity-0-12: rgba(214,226,255,0.120);
$dark-on-primary-container-opacity-0-16: rgba(214,226,255,0.160);
$dark-secondary-opacity-0-08: rgba(191,198,220,0.080);
$dark-secondary-opacity-0-12: rgba(191,198,220,0.120);
$dark-secondary-opacity-0-16: rgba(191,198,220,0.160);
$dark-on-secondary-opacity-0-08: rgba(40,48,65,0.080);
$dark-on-secondary-opacity-0-12: rgba(40,48,65,0.120);
$dark-on-secondary-opacity-0-16: rgba(40,48,65,0.160);
$dark-on-secondary-container-opacity-0-08: rgba(218,226,249,0.080);
$dark-on-secondary-container-opacity-0-12: rgba(218,226,249,0.120);
$dark-on-secondary-container-opacity-0-16: rgba(218,226,249,0.160);
$dark-tertiary-opacity-0-08: rgba(222,187,223,0.080);
$dark-tertiary-opacity-0-12: rgba(222,187,223,0.120);
$dark-tertiary-opacity-0-16: rgba(222,187,223,0.160);
$dark-on-tertiary-opacity-0-08: rgba(64,40,67,0.080);
$dark-on-tertiary-opacity-0-12: rgba(64,40,67,0.120);
$dark-on-tertiary-opacity-0-16: rgba(64,40,67,0.160);
$dark-on-tertiary-container-opacity-0-08: rgba(251,215,251,0.080);
$dark-on-tertiary-container-opacity-0-12: rgba(251,215,251,0.120);
$dark-on-tertiary-container-opacity-0-16: rgba(251,215,251,0.160);
$dark-primary-container-opacity-0-08: rgba(0,67,151,0.080);
$dark-primary-container-opacity-0-12: rgba(0,67,151,0.120);
$dark-primary-container-opacity-0-16: rgba(0,67,151,0.160);
$dark-secondary-container-opacity-0-08: rgba(63,71,89,0.080);
$dark-secondary-container-opacity-0-12: rgba(63,71,89,0.120);
$dark-secondary-container-opacity-0-16: rgba(63,71,89,0.160);
$dark-tertiary-container-opacity-0-08: rgba(88,62,91,0.080);
$dark-tertiary-container-opacity-0-12: rgba(88,62,91,0.120);
$dark-tertiary-container-opacity-0-16: rgba(88,62,91,0.160);
$dark-error-opacity-0-08: rgba(255,180,169,0.080);
$dark-error-opacity-0-12: rgba(255,180,169,0.120);
$dark-error-opacity-0-16: rgba(255,180,169,0.160);
$dark-error-container-opacity-0-08: rgba(147,0,6,0.080);
$dark-error-container-opacity-0-12: rgba(147,0,6,0.120);
$dark-error-container-opacity-0-16: rgba(147,0,6,0.160);
$dark-on-error-opacity-0-08: rgba(104,0,3,0.080);
$dark-on-error-opacity-0-12: rgba(104,0,3,0.120);
$dark-on-error-opacity-0-16: rgba(104,0,3,0.160);
$dark-on-error-container-opacity-0-08: rgba(255,218,212,0.080);
$dark-on-error-container-opacity-0-12: rgba(255,218,212,0.120);
$dark-on-error-container-opacity-0-16: rgba(255,218,212,0.160);
$dark-background-opacity-0-08: rgba(27,27,30,0.080);
$dark-background-opacity-0-12: rgba(27,27,30,0.120);
$dark-background-opacity-0-16: rgba(27,27,30,0.160);
$dark-on-background-opacity-0-08: rgba(228,226,230,0.080);
$dark-on-background-opacity-0-12: rgba(228,226,230,0.120);
$dark-on-background-opacity-0-16: rgba(228,226,230,0.160);
$dark-surface-opacity-0-08: rgba(27,27,30,0.080);
$dark-surface-opacity-0-12: rgba(27,27,30,0.120);
$dark-surface-opacity-0-16: rgba(27,27,30,0.160);
$dark-on-surface-opacity-0-08: rgba(228,226,230,0.080);
$dark-on-surface-opacity-0-12: rgba(228,226,230,0.120);
$dark-on-surface-opacity-0-16: rgba(228,226,230,0.160);
$dark-surface-variant-opacity-0-08: rgba(68,71,79,0.080);
$dark-surface-variant-opacity-0-12: rgba(68,71,79,0.120);
$dark-surface-variant-opacity-0-16: rgba(68,71,79,0.160);
$dark-on-surface-variant-opacity-0-08: rgba(196,198,208,0.080);
$dark-on-surface-variant-opacity-0-12: rgba(196,198,208,0.120);
$dark-on-surface-variant-opacity-0-16: rgba(196,198,208,0.160);
$dark-outline-opacity-0-08: rgba(142,144,153,0.080);
$dark-outline-opacity-0-12: rgba(142,144,153,0.120);
$dark-outline-opacity-0-16: rgba(142,144,153,0.160);
$dark-inverse-on-surface-opacity-0-08: rgba(27,27,30,0.080);
$dark-inverse-on-surface-opacity-0-12: rgba(27,27,30,0.120);
$dark-inverse-on-surface-opacity-0-16: rgba(27,27,30,0.160);
$dark-inverse-surface-opacity-0-08: rgba(228,226,230,0.080);
$dark-inverse-surface-opacity-0-12: rgba(228,226,230,0.120);
$dark-inverse-surface-opacity-0-16: rgba(228,226,230,0.160);
$dark-inverse-primary-opacity-0-08: rgba(0,90,197,0.080);
$dark-inverse-primary-opacity-0-12: rgba(0,90,197,0.120);
$dark-inverse-primary-opacity-0-16: rgba(0,90,197,0.160);
$dark-shadow-opacity-0-08: rgba(0,0,0,0.080);
$dark-shadow-opacity-0-12: rgba(0,0,0,0.120);
$dark-shadow-opacity-0-16: rgba(0,0,0,0.160);
// READ ONLY END

// ELEVATION
$light-elevation-1: 0px 1px 3px 1px rgba(0,0,0,0.150);
$light-elevation-2: 0px 2px 6px 2px rgba(0,0,0,0.150);
$light-elevation-3: 0px 1px 3px rgba(0,0,0,0.300);
$light-elevation-4: 0px 2px 3px rgba(0,0,0,0.300);
$light-elevation-5: 0px 4px 4px rgba(0,0,0,0.300);

$dark-elevation-1: 0px 1px 2px rgba(0,0,0,0.300);
$dark-elevation-2: 0px 1px 2px rgba(0,0,0,0.300);
$dark-elevation-3: 0px 1px 3px rgba(0,0,0,0.300);
$dark-elevation-4: 0px 2px 3px rgba(0,0,0,0.300);
$dark-elevation-5: 0px 4px 4px rgba(0,0,0,0.300);
// ELEVATION END