// SOURCE
$seed: rgba(38,183,205,1);
$primary: rgba(0,104,119,1);
$secondary: rgba(74,98,103,1);
$tertiary: rgba(84,93,125,1);
$neutral: rgba(92,95,96,1);
$neutral-variant: rgba(87,96,98,1);
$error: rgba(186,27,27,1);
// SOURCE END

// SYS
$light-primary: rgba(0,104,119,1);
$light-on-primary: rgba(255,255,255,1);
$light-primary-container: rgba(155,239,255,1);
$light-on-primary-container: rgba(0,31,37,1);
$light-secondary: rgba(74,98,103,1);
$light-on-secondary: rgba(255,255,255,1);
$light-secondary-container: rgba(205,231,237,1);
$light-on-secondary-container: rgba(5,31,35,1);
$light-tertiary: rgba(84,93,125,1);
$light-on-tertiary: rgba(255,255,255,1);
$light-tertiary-container: rgba(218,225,255,1);
$light-on-tertiary-container: rgba(16,26,55,1);
$light-error: rgba(186,27,27,1);
$light-error-container: rgba(255,218,212,1);
$light-on-error: rgba(255,255,255,1);
$light-on-error-container: rgba(65,0,1,1);
$light-background: rgba(251,253,254,1);
$light-on-background: rgba(25,28,29,1);
$light-surface: rgba(251,253,254,1);
$light-on-surface: rgba(25,28,29,1);
$light-surface-variant: rgba(219,228,230,1);
$light-on-surface-variant: rgba(63,72,74,1);
$light-outline: rgba(112,121,123,1);
$light-inverse-on-surface: rgba(239,241,242,1);
$light-inverse-surface: rgba(45,49,50,1);
$light-inverse-primary: rgba(81,215,238,1);
$light-shadow: rgba(0,0,0,1);
$dark-primary: rgba(81,215,238,1);
$dark-on-primary: rgba(0,54,63,1);
$dark-primary-container: rgba(0,78,90,1);
$dark-on-primary-container: rgba(155,239,255,1);
$dark-secondary: rgba(177,203,209,1);
$dark-on-secondary: rgba(28,52,57,1);
$dark-secondary-container: rgba(51,75,80,1);
$dark-on-secondary-container: rgba(205,231,237,1);
$dark-tertiary: rgba(188,197,234,1);
$dark-on-tertiary: rgba(37,47,76,1);
$dark-tertiary-container: rgba(60,70,101,1);
$dark-on-tertiary-container: rgba(218,225,255,1);
$dark-error: rgba(255,180,169,1);
$dark-error-container: rgba(147,0,6,1);
$dark-on-error: rgba(104,0,3,1);
$dark-on-error-container: rgba(255,218,212,1);
$dark-background: rgba(25,28,29,1);
$dark-on-background: rgba(225,227,227,1);
$dark-surface: rgba(25,28,29,1);
$dark-on-surface: rgba(225,227,227,1);
$dark-surface-variant: rgba(63,72,74,1);
$dark-on-surface-variant: rgba(191,200,202,1);
$dark-outline: rgba(137,146,148,1);
$dark-inverse-on-surface: rgba(25,28,29,1);
$dark-inverse-surface: rgba(225,227,227,1);
$dark-inverse-primary: rgba(0,104,119,1);
$dark-shadow: rgba(0,0,0,1);
// SYS END

// REF
$primary-100: rgba(255,255,255,1);
$primary-99: rgba(246,253,255,1);
$primary-95: rgba(208,247,255,1);
$primary-90: rgba(155,239,255,1);
$primary-80: rgba(81,215,238,1);
$primary-70: rgba(37,187,210,1);
$primary-60: rgba(0,159,180,1);
$primary-50: rgba(0,131,149,1);
$primary-40: rgba(0,104,119,1);
$primary-30: rgba(0,78,90,1);
$primary-20: rgba(0,54,63,1);
$primary-10: rgba(0,31,37,1);
$primary-0: rgba(0,0,0,1);
$secondary-100: rgba(255,255,255,1);
$secondary-99: rgba(246,253,255,1);
$secondary-95: rgba(219,245,251,1);
$secondary-90: rgba(205,231,237,1);
$secondary-80: rgba(177,203,209,1);
$secondary-70: rgba(151,176,182,1);
$secondary-60: rgba(124,149,155,1);
$secondary-50: rgba(99,123,128,1);
$secondary-40: rgba(74,98,103,1);
$secondary-30: rgba(51,75,80,1);
$secondary-20: rgba(28,52,57,1);
$secondary-10: rgba(5,31,35,1);
$secondary-0: rgba(0,0,0,1);
$tertiary-100: rgba(255,255,255,1);
$tertiary-99: rgba(253,251,255,1);
$tertiary-95: rgba(238,240,255,1);
$tertiary-90: rgba(218,225,255,1);
$tertiary-80: rgba(188,197,234,1);
$tertiary-70: rgba(161,170,206,1);
$tertiary-60: rgba(134,144,179,1);
$tertiary-50: rgba(108,118,152,1);
$tertiary-40: rgba(84,93,125,1);
$tertiary-30: rgba(60,70,101,1);
$tertiary-20: rgba(37,47,76,1);
$tertiary-10: rgba(16,26,55,1);
$tertiary-0: rgba(0,0,0,1);
$neutral-100: rgba(255,255,255,1);
$neutral-99: rgba(251,253,254,1);
$neutral-95: rgba(239,241,242,1);
$neutral-90: rgba(225,227,227,1);
$neutral-80: rgba(196,199,199,1);
$neutral-70: rgba(169,171,172,1);
$neutral-60: rgba(142,145,146,1);
$neutral-50: rgba(116,119,120,1);
$neutral-40: rgba(92,95,96,1);
$neutral-30: rgba(68,71,72,1);
$neutral-20: rgba(45,49,50,1);
$neutral-10: rgba(25,28,29,1);
$neutral-0: rgba(0,0,0,1);
$neutral-variant-100: rgba(255,255,255,1);
$neutral-variant-99: rgba(246,253,255,1);
$neutral-variant-95: rgba(233,243,245,1);
$neutral-variant-90: rgba(219,228,230,1);
$neutral-variant-80: rgba(191,200,202,1);
$neutral-variant-70: rgba(163,173,175,1);
$neutral-variant-60: rgba(137,146,148,1);
$neutral-variant-50: rgba(112,121,123,1);
$neutral-variant-40: rgba(87,96,98,1);
$neutral-variant-30: rgba(63,72,74,1);
$neutral-variant-20: rgba(41,50,52,1);
$neutral-variant-10: rgba(20,29,31,1);
$neutral-variant-0: rgba(0,0,0,1);
$error-100: rgba(255,255,255,1);
$error-99: rgba(252,252,252,1);
$error-95: rgba(255,237,233,1);
$error-90: rgba(255,218,212,1);
$error-80: rgba(255,180,169,1);
$error-70: rgba(255,137,122,1);
$error-60: rgba(255,84,73,1);
$error-50: rgba(221,55,48,1);
$error-40: rgba(186,27,27,1);
$error-30: rgba(147,0,6,1);
$error-20: rgba(104,0,3,1);
$error-10: rgba(65,0,1,1);
$error-0: rgba(0,0,0,1);
// REF END

// ELEVATION
@mixin elevation-light-1 {
	box-shadow:0px 1px 3px 1px rgba(0,0,0,0.150);
}
@mixin elevation-light-2 {
	box-shadow:0px 2px 6px 2px rgba(0,0,0,0.150);
}
@mixin elevation-light-3 {
	box-shadow:0px 1px 3px rgba(0,0,0,0.300);
}
@mixin elevation-light-4 {
	box-shadow:0px 2px 3px rgba(0,0,0,0.300);
}
@mixin elevation-light-5 {
	box-shadow:0px 4px 4px rgba(0,0,0,0.300);
}
@mixin elevation-dark-1 {
	box-shadow:0px 1px 2px rgba(0,0,0,0.300);
}
@mixin elevation-dark-2 {
	box-shadow:0px 1px 2px rgba(0,0,0,0.300);
}
@mixin elevation-dark-3 {
	box-shadow:0px 1px 3px rgba(0,0,0,0.300);
}
@mixin elevation-dark-4 {
	box-shadow:0px 2px 3px rgba(0,0,0,0.300);
}
@mixin elevation-dark-5 {
	box-shadow:0px 4px 4px rgba(0,0,0,0.300);
}
// ELEVATION END