.z-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8px;
  padding-right: 8px;
}

.z-list-item {
  display: flex;
  align-items: center;
  height: 56px;
  border-radius: 3em;
  cursor: pointer;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    margin-right: 8px;
  }
  
  &:hover {
    background-color: var(--z-color-secondary-container);
  }
  &:active {
    background-color: var(--z-color-secondary-opacity-08);
  }
}
.z-drawer_hovered {
  & .z-list-item {
    padding-left: 24px;
    padding-right: 24px;
  }
}