@import './reset/_destyle.scss';
@import './fonts/roboto.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.io-button {
  & .io-icon {
    height: calc(1em + 4px);
    width: calc(1em + 4px);
    & svg {
      vertical-align: baseline;
      height: 100%;
      width: 100%;
      color: currentColor;
    }
  }

  & .io-icon:first-child {
    margin-right: 0.3em;
  }
  & .io-button__text + .io-icon {
    margin-left: 0.3em;
  }
}