@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}
