@use '/src/styles/utilities/mixins';

.z-text-field {
  padding: 0.6em 0.6rem;
  background: var(--z-color-surface-variant);
  color: var(--z-color-on-surface-variant);
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: solid 1px var(--z-color-on-surface);

  &:not(.z-text-field_outlined):focus-visible {
    outline: none;
  }

  &__wrapper {
    position: relative;
    width: max-content;
  }
  &__wrapper {
    &_focused:not(.z-text-field__wrapper_outlined)::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--z-color-primary);
      animation-name: max-width;
      animation-duration: .13s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
    @keyframes max-width {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    &_focused.z-text-field__wrapper_outlined {
      outline: solid 2px var(--z-color-primary);
      border-radius: 0.25em;
      transition: outline-width .13s;

      &:not(.z-text-field__wrapper_not-empty) .z-text-field__label {
        background: var(--z-color-background);

        animation-name: label-up;
        animation-duration: .13s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes label-up {
        from {
          font-size: inherit;
          top: 0.6em;
          padding-left: 0;
          padding-right: 0;
        }
        to {
          font-size: 0.7em;
          top: -0.7em;
          padding-left: 0.3rem;
          padding-right: 0.3rem;
        }
      }
    }
    &_outlined {
      & .z-text-field__label {
        font-size: inherit;
        color: var(--z-color-on-surface-variant);
  
        & + .z-text-field {
          padding-top: 0.6em;
        }
      }

      &.z-text-field__wrapper_not-empty .z-text-field__label {
        background: var(--z-color-background);
        font-size: 0.7em;
        top: -0.7em;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
    }
  }
  &__label {
    position: absolute;
    top: 0.6em;
    left: 0.6rem;
    font-size: 0.7em;
    color: var(--z-color-primary);

    & + .z-text-field {
      padding-top: 1.6em;
    }
  }

  &_outlined {
    background: var(--z-color-background);
    color: var(--z-color-on-background);
    border-radius: 0.25em;
    outline: solid 1px var(--z-color-outline);
    border: none;
  }
}