.io-list-item {
  display: flex;
  align-items: center;
  height: 56px;
  border-radius: 3em;
  cursor: pointer;
  transition: padding-left .13s, padding-right .13s,;
  
  &:hover {
    background-color: var(--io-color-secondary-container);
  }
  &:active {
    background-color: var(--io-color-secondary-opacity-08);
  }
}

.io-drawer_hovered {
  & .io-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}