.io-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 56px;
  max-width: 50%;
  background: var(--io-color-surface-1);
  box-sizing: content-box;
  border-right: 1px solid rgb(var(--io-color-outline));

  &_mini {
    width: 56px;
    transition: width .13s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: inherit;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_space-between { justify-content: space-between; }
    &_space-evenly { justify-content: space-evenly; }
    &_space-around { justify-content: space-around; }
  }
}