.io-text-field {
  width: 100%;
}
.io-text-field__wrapper {
  position: relative;
  width: max-content;

  &_filled {
    & .io-text-field {
      padding: 0.6em 0.6rem;
      background: rgb(var(--io-color-surface-variant));
      color: rgb(var(--io-color-on-surface-variant));
      border-radius: 0.25em 0.25em 0 0;
      border-bottom: solid 1px rgb(var(--io-color-on-surface));

      &:focus-visible {
        outline: none;
      }
    }
    & .io-text-field__label {
      position: absolute;
      top: 0.6em;
      left: 0.6rem;
      font-size: 0.7em;
      color: rgb(var(--io-color-primary));
    
      & + .io-text-field {
        padding-top: 1.6em;
      }
    }

    &.io-text-field__wrapper_error .io-text-field__label {
      color: rgb(var(--io-color-error));
    }
  }
  &_error::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(var(--io-color-error));
  }
  &_focused::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(var(--io-color-primary));
    animation-name: max-width;
    animation-duration: .13s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  &_focused.io-text-field__wrapper_error::after {
    background-color: rgb(var(--io-color-error));
  }
  @keyframes max-width {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}