@mixin colors($color) {
  color: rgb(var(--io-color-on-#{$color}));
  background-color: rgb(var(--io-color-#{$color}));
}
.io-snackbar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  min-width: 200px;
  border-radius: 4px;
  animation-name: snackbar-up;
  animation-duration: .13s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;

  @keyframes snackbar-up {
    0% { transform: translateX(-50%) scale(0); }
    100% { transform: translateX(-50%) scale(1); }
  }

  &_hidden {
    animation-name: snackbar-down;
    animation-duration: .13s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes snackbar-down {
      0% { transform: translateX(-50%) scale(1); }
      100% { transform: translateX(-50%) scale(0); }
    }
  }

  &_color_primary {
    @include colors("primary")
  }
  &_color_secondary {
    @include colors("secondary")
  }
  &_color_tertiary {
    @include colors("tertiary")
  }
  &_color_error {
    @include colors("error")
  }
  &_color_success {
    @include colors("success")
  }
}